[Unit]
Description={{ tomcat_description }}
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_executable }}
Environment=CATALINA_PID={{ tomcat_home_dir }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_home_dir }}
Environment=CATALINA_BASE={{ tomcat_home_dir }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_home_dir }}/bin/startup.sh
ExecStop={{ tomcat_home_dir }}/bin/shutdown.sh

User={{ tomcat_user }}
Group={{ tomcat_group }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target