Hello,
This file is created using Ansible Automation.

The operating system family = {{ ansible_os_family }} 

Operating system  = {{ ansible_distribution }} {{ ansible_distribution_version }} 

Thanks from {{ test_user }}