var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello World\n');
}).listen({{ appserverport }}, '{{ ansible_all_ipv4_addresses }}');
console.log('Server running at http://{{ ansible_all_ipv4_addresses }}:8080/');